.header {
	position: sticky;
	top: 0;
	height: 3rem;
	background: var(--background);
	margin-bottom: 1rem;
}

.nav {
	display: flex;
	align-items: center;
	height: 100%;
}

.nav div {
	flex: 1;
	text-align: center;
}

.wordmark {
	font-size: 1.75rem;
	font-weight: 800;
	color: var(--brand);
}
